/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #00008B;
    color: white;
}

.cabecalho{
    background-color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho .titulo{
    color: #0000FF;
    font-size: 32px;
    font-weight: bold;
}

.cabecalho .subtitulo{
    color: #0000FF;
}

.conteudo{
    background-color: #4169E1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}